.auth-page {
  min-height: calc(100vh - 4rem);
  min-height: 100vh; // height: fit-content;

  .login-page-container-betterme {
    transition: var(--default-transition);
    margin: 0 auto;
    transform: translateY(4rem);
    width: fit-content;
    height: auto;
    overflow: auto;
    background-color: var(--background-color) !important;
    color: var(--text-color);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #b993d6, #8ca6db);
    form {
      border: none;
      transition: var(--default-transition);
      background-color: var(--background-color);
      color: var(--text-color);
      input {
        background-color: var(--body-background-color);
        color: var(--text-color);
      }
      .form-options-container {
        display: flex;
        justify-content: space-between;
      }
    }
    button {
      width: 100%;
    }
    a {
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
@media (max-width: 700px) {
  .auth-page {
    min-height: calc(100vh - 4rem);

    .login-page-container-betterme {
      width: 100%;
      height: auto;
      overflow: auto;
      background-color: var(--background-color) !important;
      color: var(--text-color);
      form {
        .form-control {
          width: 100%;
        }
        width: 100%;
        input[type='text'] {
          width: 100%;
        }
      }
    }
  }
}
