.signup-page-container {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-color);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #b993d6, #8ca6db);
  form {
    border: none;
    transition: var(--default-transition);
    background-color: var(--background-color);
    input {
      background-color: var(--body-background-color);
      color: var(--text-color);
    }
  }
  button {
    width: 100%;
  }
  a {
    color: var(--primary-color);
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .signup-page-container {
    width: 100%;
    form {
      .form-control {
        width: 100%;
      }
    }
  }
}
